<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color Palettes</key>
	<dict>
		<key>InvalidPalette</key>
		<array>
			<dict>
				<key>Red</key>
				<real>1.5</real>
				<key>Green</key>
				<real>0.5</real>
				<key>Blue</key>
				<real>0.5</real>
				<key>Alpha</key>
				<real>1.0</real>
			</dict>
			<dict>
				<key>Red</key>
				<real>0.5</real>
				<key>Green</key>
				<real>-0.1</real>
				<key>Blue</key>
				<real>0.5</real>
				<key>Alpha</key>
				<real>1.0</real>
			</dict>
		</array>
		<key>MissingComponentsPalette</key>
		<array>
			<dict>
				<key>Red</key>
				<real>0.5</real>
				<key>Green</key>
				<real>0.5</real>
			</dict>
		</array>
		<key>ValidPalette</key>
		<array>
			<dict>
				<key>Red</key>
				<real>0.5</real>
				<key>Green</key>
				<real>0.5</real>
				<key>Blue</key>
				<real>0.5</real>
				<key>Alpha</key>
				<real>1.0</real>
			</dict>
		</array>
	</dict>
</dict>
</plist>
